[mysqld]
character_set_server=utf8
init_connect='SET NAMES utf8'
basedir=/mnt/opt/mysql-5.7.23
datadir=/mnt/data/mysql/data
socket=/tmp/mysql.sock
lower_case_table_names = 1
log-error=/mnt/log/mysql/mysqld.log
pid-file=/mnt/opt/mysql-5.7.23/mysqld.pid

